header {
    background: #6B9670;
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
}

body {
    margin:0;
}

.logo {
    width: 126px;
    height: 138px;
    left: 12px;
    top: -3px;
    border-radius: 74px;
}

#titulo{
    position: absolute;
    width: 559px;
    height: 59px;
    left: 155px;
    top: -25px;

    font-family: 'Mohave', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 67px;
    color: #000000;
}



