
body{
    background-color: rgb(107, 238, 118);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}


#main-container{
    margin: 70px auto;
    width: 630px;
}

table{
    background-color: white;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
}

th, td{
    padding: 20px;
}

thead{
    background-color: rgb(0, 150, 25);
    border-bottom: solid 5px rgb(6, 58, 6);
    color: white;
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover td{
    background-color: #3ea531;
}