{%load static%}
<html>
{% include "barraagua.html" %}
<head>
<title> Agua </title> 
<link type="text/css" href='{% static "css/agua.css" %}' rel="stylesheet">
</head>
<body>
    <div class="column">
        <h1>Formas de Ahorrar agua</h1>
    </div>
    <div class="lista">
        <h2>
            <div class="contenido">
            <ul>
                <li>Cerrar la llave para lavar los platos o cepillarte los dientes o cuando te enjabonas en la ducha.</li>
                <li>Duchate en vez de bañarte. </li>
                <li>Reutiliza el agua. </li>
                <li>Racionaliza el riego. </li>
                <li>Revisa si hay fugas. </li>
            </ul>
            </div>
        </h2>
    </div>

</body>
</html>