{%load static%}
<!DOCTYPE html>
<html lang="es">
{%include "barra.html"%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emisiones de CO2</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href='{% static "css/co2.css" %}'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300&display=swap" rel="stylesheet">
    
</head>
<body>
    <div id="titulo1">
        <h1>Emisiones de CO2 en Valparaiso</h1>
    </div>
    <div id="main-container">

        <table>
            <thead>
                <tr>
                    <th>Actividad</th><th>Emsiones en 2015 (toneladas)</th>
                </tr>
            </thead>
            {%for i in listaDioxido%}
                {%if i.año == 2015%}
                    <tr>
                    <td>{{i.actividad}}</td><td>{{i.cantidad}}</td>
                    </tr>
                {%endif%}
            {%endfor%}
        </table>
    </div>
    <div id="main-container">

        <table>
            <thead>
                <tr>
                    <th>Actividad</th><th>Emsiones en 2018 (toneladas)</th>
                </tr>
            </thead>
            {%for i in listaDioxido%}
                {%if i.año == 2018%}
                    <tr>
                    <td>{{i.actividad}}</td><td>{{i.cantidad}}</td>
                    </tr>
                {%endif%}
            {%endfor%}
        </table>
    </div>
    
</body>
</html>