{%load static%}
<html>
{% include "barraagua.html" %}

<head>
<title> Compostaje </title>
<link type='text/css' href='{% static "css/compostaje.css" %}' rel='stylesheet'>
</head>
<div id="body">
<body>
    <div class="column">
        <h1>Compostaje</h1 id="titulo">
    </div>
    <div class="lista">
        <h2>¿Qué es el compostaje?<h2>
        <h3 id="descripcion">Es un proceso de transformación de la materia orgánica para obtener compost, un abono natural.</h3>
        <h3>Es muy beneficiosa porque:</h3>
        <h3>
        <ul>
            <li>Reduce la cantidad de materia orgánica que va a los vertederos.</li>
            <li>Reduce el uso de fertilizantes inorgánicos, a los que sustituye.</li>
            <li>Ahorra agua de riego debido a la capacidad de retención del agua del compost.</li>
            <li>Aporta los nutrientes necesarios para el desarrollo de las plantas de forma natural.</li>
        <ul>
        </h3>
    </div>


</body>
</div>
</html>
