{%load static%}
<html>
{% include "barraagua.html" %}
<title>Política</title>
<link type='text/css' href='{% static "css/politica.css" %}' rel='stylesheet'>

<body id="fondo">
    <div class="todo">
        <div class="column">
            <h1>Cambiar la política</h1>
        </div>
        <div id="cuerpo">
            <h2>Para ayudar principalmente el medio ambiente se necesita cambiar la política medioambiental del país, ya que se necesitan soluciones que bien prohiban o regulen  los contaminantes.</h2>
            <h2>Medidas que se pueden tomar:</h2>
            <h2>
                <ul>
                    <li>Optar por politicos que tengan planes medioambientales eco friendly.</li>
                    <li>Demostar el descontento poblacional mediante marchas pacíficas.</li>
                <ul>
            </h2>
            <h2>
                Estas son las principales medidas para aportar al cambio climático desde nuestro país.
            </h2>
        </div>
    </div>
</body>
</html>